<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Camera | Pothole</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

  <header>
    <img  class="bg-header" src="../static/img/header.png" alt="">
  </header>
  <nav class="navbar navbar-expand-lg" style="background-color: #140E54;">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarCenteredExample"
        aria-controls="navbarCenteredExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarCenteredExample"
      >
        <!-- Left links -->
        <ul id="navbar-topics" class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/upload-img">Uploading Image</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/camera">Live Streaming ( Camera)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/list">List</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>


  <!-- <div class="container my-5">
    <video></video>
    <div class="d-flex justify-content-center">
      <button class="d-none" id="take_photo_btn" class="btn btn-primary">Catch the photoe</button>
      <a href="undefined" id="download-photo" class="d-none" download="selfie.png" title="Save Photo" class="d-none"><i
          class="material-icons">file_download</i></a>
      <input type="file" id="file">
    </div>
  </div> -->

  <!-- <canvas class="d-none"></canvas> -->
  <img src="{{url_for('video_feed')}}" id="bg" alt="">

  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
    <script src="../static/js/app.js"></script>

  <script>

    // setInterval(() => {
    //   document.getElementById('take_photo_btn').click();
    //   console.log(true, '====?')
    // }, 5000);


    // var video = document.querySelector('video');
    // video.setAttribute('playsinline', '');
    // video.setAttribute('autoplay', '');
    // video.setAttribute('muted', '');
    // video.style.width = '100%';
    // video.style.height = '40rem';
    // let lang;
    // let lat;

    // /* Setting up the constraint */
    // var facingMode = "user"; // Can be 'user' or 'environment' to access back or front camera (NEAT!)
    // var constraints = {
    //   audio: false,
    //   video: {
    //     facingMode: facingMode
    //   }
    // };

    // /* Stream it to video element */
    // navigator.mediaDevices.getUserMedia(constraints).then(function success(stream) {
    //   video.srcObject = stream;
    // });

    // let download_photo = document.getElementById('download-photo');

    // document.getElementById('take_photo_btn').addEventListener("click", function (e) {

    //   e.preventDefault();

    //   var snap = takeSnapshot();

    //   // console.log(snap)
    //   // document.getElementById('download-photo').href = snap;
    //   // download_photo.click();
    //   // console.log(snap)
    //   sendToBackend(snap);

    // });

    // function sendToBackend(image) {
    //   console.warn('----------------trye');
    //   const formData = new FormData();
    //   // document.getElementById('files').append(image)
    //   // const files = document.getElementById("file").files[0];
      
    //   formData.append('files', image);
    //   getLocation()
    //   $.ajax({
    //     contentType: "application/json; charset=utf-8",
    //     url: `/api/camera?lang=${lang}&lat=${lat}`,
    //     type: 'POST',
    //     data: JSON.stringify({img: image}),
    //     dataType: 'json'
    //   }).done((data) => console.log(data));
    // }


    // function getLocation() {
    //   if (navigator.geolocation) {
    //     navigator.geolocation.getCurrentPosition(showPosition);
    //   } else { 
    //     alert("Geolocation is not supported by this browser.");
    //   }
    // }

    // function showPosition(position) {
    //   // x.innerHTML = "Latitude: " + position.coords.latitude + 
    //   // "<br>Longitude: " + position.coords.longitude;
    //   lang = position.coords.latitude;
    //   lat = position.coords.longitude;
    // }


    // function takeSnapshot() {
    //   var hidden_canvas = document.querySelector('canvas'),
    //     context = hidden_canvas.getContext('2d');

    //   var width = video.videoWidth,
    //     height = video.videoHeight;

    //   if (width && height) {

    //     hidden_canvas.width = width;
    //     hidden_canvas.height = height;

    //     context.drawImage(video, 0, 0, width, height);
    //     return hidden_canvas.toDataURL('image/png');
    //   }
    // }
  </script>
</body>

</html>