<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Upload Image | Pothole</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <header>
    <img class="bg-header" src="../static/img/header.png" alt="">
  </header>
  <nav class="navbar navbar-expand-lg" style="background-color: #140E54;">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarCenteredExample"
        aria-controls="navbarCenteredExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarCenteredExample"
      >
        <!-- Left links -->
        <ul id="navbar-topics" class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/upload-img">Uploading Image</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/camera">Live Streaming ( Camera)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/list">List</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>

  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-4">
        <form enctype="multipart/form-data">
          <div id="drop-zone" style="cursor: pointer">
            <p>Drop file or click to upload</p>
            <input type="file" id="file" hidden>
          </div>
          <div class="mt-4">
            <label for="description form-label h3">Description</label>
            <textarea id="description"  cols="10" rows="5" class="form-control"></textarea>
          </div>
          <button type="button" id="submit" 
          class="btn btn-primary d-block mx-auto px-5 py-3 mt-4" onclick="send()">Send</button>
        </form>
      </div>
      <div class="col-md-7">
        <img id="upload" src="" class="d-block h-100 img-fluid" alt="">
      </div>
    </div>
  </div>

  <div class="modal" id="modal-loading" data-backdrop="static">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="loading-spinner mb-2"></div>
           <div>Loading</div>
        </div>
      </div>
    </div>
  </div>

  





  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="../static/js/app.js"></script>
  <script>
    const dropZone = document.querySelector('#drop-zone');
    const inputElement = document.querySelector('input');
    const img = document.querySelector('img#upload');
    let p = document.querySelector('p');

    inputElement.addEventListener('change', function (e) {
      const clickFile = this.files[0];
      if (clickFile) {
        img.style = "display:block;";
        const reader = new FileReader();
        reader.readAsDataURL(clickFile);
        reader.onloadend = function () {
          const result = reader.result;
          let src = this.result;
          img.src = src;
          img.alt = clickFile.name
          console.log(img.parentElement);
        img.parentElement.classList.remove('d-none')
        // send();
        }
      }
    })

    dropZone.addEventListener('click', () => inputElement.click());
    
    dropZone.addEventListener('dragover', (e) => {
      e.preventDefault();
    });

    dropZone.addEventListener('drop', (e) => {
      e.preventDefault();
      img.style = "display:block;";
      let file = e.dataTransfer.files[0];

      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        e.preventDefault()
        let src = this.result;
        img.src = src;
        img.alt = file.name
        console.log(img.parentElement);
        img.parentElement.classList.remove('d-none')
        // send();
      }
    });

    $('#modal-loading').modal('show');

    function send() {

      

      const formData = new FormData();
      const files = document.getElementById("file").files[0];
      const desc = document.getElementById('description').value;
      formData.append('files', files);

      const json = JSON.stringify({
          img: formData,
          description: desc
        });
      
        console.log(json);

      $.ajax({
        data: formData,
        type: 'POST',
        url: '/api/saveImage?description='+desc,
        contentType: false,
        cache: false,
        processData: false,
        async: false,
        success: data => {
          $(function(){
        $('#modal-loading').modal('hide');
      });
        }
      })
    }
  </script>
</body>

</html>